src/main/app/poc_nisc_service_delivery_process_api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <flow name="poc_nisc_service_delivery_process_api-main">
        <http:listener config-ref="poc_nisc_service_delivery_process_api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="poc_nisc_service_delivery_process_api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="poc_nisc_service_delivery_process_api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="poc_nisc_service_delivery_process_api-console">
        <http:listener config-ref="poc_nisc_service_delivery_process_api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="poc_nisc_service_delivery_process_api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/service/order/{id}:application/json:poc_nisc_service_delivery_process_api-config">
        <set-payload value="{&#xA;   &quot;OrderId&quot;:1234,&#xA;   &quot;CustomerId&quot;:&quot;0123456789&quot;,&#xA;   &quot;ServicesBoundleStatus&quot;:[&#xA;      {&#xA;         &quot;ServiceId&quot;:&quot;5&quot;,&#xA;         &quot;Description&quot;:&quot;Service Description&quot;,&#xA;         &quot;Status&quot;:&quot;Success&quot;&#xA;      },&#xA;      {&#xA;         &quot;ServiceId&quot;:&quot;3&quot;,&#xA;         &quot;Description&quot;:&quot;Service Description&quot;,&#xA;         &quot;Status&quot;:&quot;Success&quot;&#xA;      }&#xA;   ],&#xA;   &quot;Description&quot;:&quot;Service Description&quot;,&#xA;   &quot;Status&quot;:&quot;Completed&quot;,&#xA;   &quot;links&quot;:[&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/info&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;GET&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/updateInfo&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;PUT&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/delete&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;DELETE&quot;&#xA;      }&#xA;   ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/service/order/{id}:poc_nisc_service_delivery_process_api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/service/order:poc_nisc_service_delivery_process_api-config">
        <set-payload value="[&#xA;   {&#xA;      &quot;OrderId&quot;:1234,&#xA;      &quot;CustomerId&quot;:&quot;0123456789&quot;,&#xA;      &quot;ServicesBoundle&quot;:[&#xA;         {&#xA;            &quot;ServiceId&quot;:&quot;5&quot;,&#xA;            &quot;Description&quot;:&quot;Service Description&quot;&#xA;         },&#xA;         {&#xA;            &quot;ServiceId&quot;:&quot;3&quot;,&#xA;            &quot;Description&quot;:&quot;Service Description&quot;&#xA;         }&#xA;      ],&#xA;      &quot;Description&quot;:&quot;Service Description&quot;,&#xA;      &quot;Status&quot;:&quot;Completed&quot;,&#xA;      &quot;links&quot;:[&#xA;         {&#xA;            &quot;rel&quot;:&quot;/linkrels/serviceOrder/info&quot;,&#xA;            &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;            &quot;method&quot;:&quot;GET&quot;&#xA;         },&#xA;         {&#xA;            &quot;rel&quot;:&quot;/linkrels/serviceOrder/updateInfo&quot;,&#xA;            &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;            &quot;method&quot;:&quot;PUT&quot;&#xA;         },&#xA;         {&#xA;            &quot;rel&quot;:&quot;/linkrels/serviceOrder/delete&quot;,&#xA;            &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;            &quot;method&quot;:&quot;DELETE&quot;&#xA;         }&#xA;      ]&#xA;   },&#xA;   {&#xA;      &quot;OrderId&quot;:5678,&#xA;      &quot;CustomerId&quot;:&quot;0123456789&quot;,&#xA;      &quot;ServicesBoundle&quot;:[&#xA;         {&#xA;            &quot;ServiceId&quot;:&quot;5&quot;,&#xA;            &quot;Description&quot;:&quot;Service Description&quot;&#xA;         },&#xA;         {&#xA;            &quot;ServiceId&quot;:&quot;3&quot;,&#xA;            &quot;Description&quot;:&quot;Service Description&quot;&#xA;         }&#xA;      ],&#xA;      &quot;Description&quot;:&quot;Service Description&quot;,&#xA;      &quot;Status&quot;:&quot;Completed&quot;,&#xA;      &quot;links&quot;:[&#xA;         {&#xA;            &quot;rel&quot;:&quot;/linkrels/serviceOrder/info&quot;,&#xA;            &quot;uri&quot;:&quot;/service/order/5678&quot;,&#xA;            &quot;method&quot;:&quot;GET&quot;&#xA;         },&#xA;         {&#xA;            &quot;rel&quot;:&quot;/linkrels/serviceOrder/updateInfo&quot;,&#xA;            &quot;uri&quot;:&quot;/service/order/5678&quot;,&#xA;            &quot;method&quot;:&quot;PUT&quot;&#xA;         },&#xA;         {&#xA;            &quot;rel&quot;:&quot;/linkrels/serviceOrder/delete&quot;,&#xA;            &quot;uri&quot;:&quot;/service/order/5678&quot;,&#xA;            &quot;method&quot;:&quot;DELETE&quot;&#xA;         }&#xA;      ]&#xA;   }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/service/order/{id}:poc_nisc_service_delivery_process_api-config">
        <set-payload value="{&#xA;   &quot;OrderId&quot;:1234,&#xA;   &quot;CustomerId&quot;:&quot;0123456789&quot;,&#xA;   &quot;ServicesBoundleStatus&quot;:[&#xA;      {&#xA;         &quot;ServiceId&quot;:&quot;5&quot;,&#xA;         &quot;Description&quot;:&quot;Service Description&quot;,&#xA;         &quot;Status&quot;:&quot;Success&quot;&#xA;      },&#xA;      {&#xA;         &quot;ServiceId&quot;:&quot;3&quot;,&#xA;         &quot;Description&quot;:&quot;Service Description&quot;,&#xA;         &quot;Status&quot;:&quot;Success&quot;&#xA;      }&#xA;   ],&#xA;   &quot;Description&quot;:&quot;Service Description&quot;,&#xA;   &quot;Status&quot;:&quot;Completed&quot;,&#xA;   &quot;links&quot;:[&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/info&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;GET&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/updateInfo&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;PUT&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/delete&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;DELETE&quot;&#xA;      }&#xA;   ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/service/order:application/json:poc_nisc_service_delivery_process_api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;   &quot;OrderId&quot;:1234,&#xA;   &quot;CustomerId&quot;:&quot;0123456789&quot;,&#xA;   &quot;ServicesBoundleStatus&quot;:[&#xA;      {&#xA;         &quot;ServiceId&quot;:&quot;5&quot;,&#xA;         &quot;Description&quot;:&quot;Service Description&quot;,&#xA;         &quot;Status&quot;:&quot;Success&quot;&#xA;      },&#xA;      {&#xA;         &quot;ServiceId&quot;:&quot;3&quot;,&#xA;         &quot;Description&quot;:&quot;Service Description&quot;,&#xA;         &quot;Status&quot;:&quot;Success&quot;&#xA;      }&#xA;   ],&#xA;   &quot;Description&quot;:&quot;Service Description&quot;,&#xA;   &quot;Status&quot;:&quot;Completed&quot;,&#xA;   &quot;links&quot;:[&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/info&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;GET&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/updateInfo&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;PUT&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/serviceOrder/delete&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;DELETE&quot;&#xA;      }&#xA;   ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="poc_nisc_service_delivery_process_api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
